body {
    padding-left: 20%;
    padding-right: 20%;
    font-family: sans-serif;
    background-color: black;
}

h1 {
    font-size: 4rem;
    color: palevioletred;
}

h2{
    font-size: 2rem;
    color: plum;
}

p{
    color: gainsboro;
}


footer{
    background-color: black;
    color: white;
    
}

a{
    color: pink;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.wrapper{
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;

}

.column {
    padding: 20px;
  }

.image{
    width: 50%;
}

hr{
    color: white;
}
